In [1]:
import pandas as pd
import numpy as np
import string
from datetime import datetime as dt
from datetime import timedelta as td

In [102]:
referee_list = pd.DataFrame(columns = ["referee"])
for year in range(2014,2019):
    referee = pd.read_csv("./" + str(year) + "/" + str(year) + "_match-list.csv").referee
    referee_list = referee_list.append(pd.DataFrame(referee, columns = ["referee"]))

In [50]:
def strip_accents(string):
    ans = string
    replacements = {
        "ç": "c",
        "é": "e",
        "'": " "
    }
    for el in replacements.keys():
        ans = ans.replace(el, replacements[el])
    return ans

In [ ]:
referee_list.referee = referee_list.referee.str.lower().str.strip().apply(strip_accents).str.replace(" ", "_")

In [104]:
referee_list = referee_list.drop_duplicates()

In [105]:
referees = pd.DataFrame({"referee_name": referee_list.referee, "referee_id": range(1, referee_list.shape[0]+1)})

In [106]:
referees.to_csv("referees.csv", index=False)

In [85]:
team_list = pd.DataFrame(columns = ["team_name_3"])
for year in range(2014,2019):
    filename = "./" + str(year) + "/" + str(year) + "_match-list.csv"
    match_list = pd.read_csv(filename)
    match_list.team_home = match_list.team_home.str.replace("Atletico - PR", "Atlético - PR")
    match_list.team_away = match_list.team_away.str.replace("Atletico - PR", "Atlético - PR")
    match_list.to_csv(filename, index=False)

In [86]:
team_list = pd.DataFrame(columns = ["team_name_3"])
for year in range(2014,2019):
    filename = "./" + str(year) + "/" + str(year) + "_match-list.csv"
    match_list = pd.read_csv(filename)
    team_list = team_list.append(pd.DataFrame({"team_name_3": match_list.team_home}))
    team_list = team_list.append(pd.DataFrame({"team_name_3": match_list.team_away}))

In [87]:
team_list.drop_duplicates().sort_values("team_name_3").head(100)

           team_name_3
8         América - MG
18       Atlético - GO
5        Atlético - MG
4        Atlético - PR
9            Avaí - SC
6           Bahia - BA
10       Botafogo - RJ
16          Ceará - CE
9     Chapecoense - SC
12    Corinthians - SP
14       Coritiba - PR
8        Criciuma - SC
15       Cruzeiro - MG
18    Figueirense - SC
0        Flamengo - RJ
1      Fluminense - RJ
19          Goiás - GO
17         Grêmio - RS
7   Internacional - RS
16      Joinville - SC
13      Palmeiras - SP
11         Paraná - PR
17    Ponte Preta - SP
5      Santa Cruz - PE
3          Santos - SP
11          Sport - PE
2       São Paulo - SP
7   Vasco da Gama - RJ
16        Vitória - BA

In [7]:
for round_num in range(1,39):
    filename = "./2018/scouts/2018_round"
    if round_num < 10:
        filename = filename + "0" + str(round_num) + "_scouts.csv"
    else:
        filename = filename + str(round_num) + "_scouts.csv"
    scouts = pd.read_csv(filename)
    scouts.team_id = scouts.apply(lambda row: 354 if row.team_id == '204/354' else row.team_id, axis = 1)
    scouts.to_csv(filename, index = False)

In [44]:
old_mode = "Domingo"
d = dt(2018,4,10,14)
days = None
for round_num in range(1,39):
    filename = "./history/2018/rodada-" + str(round_num) + ".csv"
    scouts = pd.read_csv(filename)
    status = scouts[["atletas.rodada_id", "atletas.atleta_id", "atletas.status_id"]]
    status["query_time"] = d.isoformat(sep=" ")
    status.columns = ["round_num", "player_id", "status_id", "query_time"]
    status = status[["round_num", "query_time", "player_id", "status_id"]]
    filename2 = "./2018/status/2018_round"
    if round_num < 10:
        filename2 = filename2 + "0" + str(round_num) + "_status.csv"
    else:
        filename2 = filename2 + str(round_num) + "_status.csv"
    status.to_csv(filename2, index=False)
    
    match_list = pd.read_csv("./2018/2018_match-list.csv").query("round_num == @round_num")
    new_mode = match_list.groupby("week_day").match_num.count().sort_values(ascending=False).reset_index().week_day[0]
    if old_mode in ["Sábado", "Domingo"]:
        if new_mode in ["Sábado", "Domingo"]:
            days = 7
        else:
            days = 3
    else:
        if new_mode in ["Sábado", "Domingo"]:
            days = 4
        else:
            days = 7
    d = d + td(days)
    old_mode = new_mode

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Domingo Domingo
Domingo Domingo
Domingo Domingo
Domingo Domingo
Domingo Domingo
Domingo Domingo
Domingo Domingo
Domingo Quarta
Quarta Domingo
Domingo Quarta
Quarta Domingo
Domingo Quarta
Quarta Quinta
Quinta Domingo
Domingo Quarta
Quarta Domingo
Domingo Domingo
Domingo Domingo
Domingo Domingo
Domingo Quarta
Quarta Sábado
Sábado Domingo
Domingo Quarta
Quarta Domingo
Domingo Domingo
Domingo Domingo
Domingo Domingo
Domingo Sábado
Sábado Domingo
Domingo Domingo
Domingo Sábado
Sábado Domingo
Domingo Domingo
Domingo Quarta
Quarta Domingo
Domingo Quarta
Quarta Domingo
Domingo Domingo

In [5]:
match_dates = pd.read_csv("./match-dates.csv", index_col = 0)

In [11]:
match_dates.date = match_dates.date.apply(lambda x: x[6:] + x[3:5] + x[:2])

In [16]:
first_dates = match_dates.groupby("round_num").min().reset_index()

In [23]:
first_dates.date[1:] = first_dates.date[:-1]

C:\Users\fellipefcm\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [46]:
first_dates.iloc[0,1] = "20180409"

In [48]:
first_dates.date = first_dates.date.apply(lambda x: dt(int(x[0:4]), int(x[4:6]), int(x[6:]) + 1, 14))

In [49]:
first_dates

    round_num                date
0           1 2018-04-10 14:00:00
1           2 2018-04-15 14:00:00
2           3 2018-04-22 14:00:00
3           4 2018-04-29 14:00:00
4           5 2018-05-06 14:00:00
5           6 2018-05-13 14:00:00
6           7 2018-05-20 14:00:00
7           8 2018-05-27 14:00:00
8           9 2018-05-31 14:00:00
9          10 2018-06-03 14:00:00
10         11 2018-06-06 14:00:00
11         12 2018-06-10 14:00:00
12         13 2018-06-13 14:00:00
13         14 2018-07-19 14:00:00
14         15 2018-07-22 14:00:00
15         16 2018-07-26 14:00:00
16         17 2018-07-29 14:00:00
17         18 2018-08-05 14:00:00
18         19 2018-08-12 14:00:00
19         20 2018-08-19 14:00:00
20         21 2018-08-09 14:00:00
21         22 2018-08-26 14:00:00
22         23 2018-09-02 14:00:00
23         24 2018-09-06 14:00:00
24         25 2018-09-09 14:00:00
25         26 2018-09-16 14:00:00
26         27 2018-09-23 14:00:00
27         28 2018-09-30 14:00:00
28         29 2018-10-06 14:00:00
29         30 2018-10-14 14:00:00
30         31 2018-10-21 14:00:00
31         32 2018-10-27 14:00:00
32         33 2018-11-04 14:00:00
33         34 2018-11-11 14:00:00
34         35 2018-11-15 14:00:00
35         36 2018-11-18 14:00:00
36         37 2018-11-22 14:00:00
37         38 2018-11-25 14:00:00

In [73]:
for round_num in range(1,39):
    print(round_num)
    round_status = pd.read_csv("./history/2018/rodada-" + str(round_num) + ".csv", index_col = 0)[["atletas.rodada_id", "atletas.atleta_id", "atletas.status_id"]]
    query_time = first_dates.query("round_num == @round_num").date.iloc[0]
    round_status["query_time"] = query_time
    round_status.columns = ["round_num", "player_id", "status_id", "query_time"]
    round_status = round_status[["round_num", "query_time", "player_id", "status_id"]]
    filename = "./2018/status/2018_round"
    if round_num < 10:
        filename = filename + "0" + str(round_num) + "_status.csv"
    else:
        filename = filename + str(round_num) + "_status.csv"
    round_status.to_csv(filename, index=False)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38

In [75]:
status = pd.read_csv("./2019/status/2019_round08_status.csv")

In [79]:
status.query_time = status.query_time.apply(lambda x: x[:19])