In [1]:
import pandas as pd
import numpy as np
import string
from datetime import datetime as dt
from datetime import timedelta as td
import json
import ast
from fuzzywuzzy import fuzz

/anaconda3/lib/python3.7/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [102]:
referee_list = pd.DataFrame(columns = ["referee"])
for year in range(2014,2019):
    referee = pd.read_csv("./" + str(year) + "/" + str(year) + "_match-list.csv").referee
    referee_list = referee_list.append(pd.DataFrame(referee, columns = ["referee"]))

In [50]:
def strip_accents(string):
    ans = string
    replacements = {
        "ç": "c",
        "é": "e",
        "'": " "
    }
    for el in replacements.keys():
        ans = ans.replace(el, replacements[el])
    return ans

In [ ]:
referee_list.referee = referee_list.referee.str.lower().str.strip().apply(strip_accents).str.replace(" ", "_")

In [104]:
referee_list = referee_list.drop_duplicates()

In [105]:
referees = pd.DataFrame({"referee_name": referee_list.referee, "referee_id": range(1, referee_list.shape[0]+1)})

In [106]:
referees.to_csv("referees.csv", index=False)

In [85]:
team_list = pd.DataFrame(columns = ["team_name_3"])
for year in range(2014,2019):
    filename = "./" + str(year) + "/" + str(year) + "_match-list.csv"
    match_list = pd.read_csv(filename)
    match_list.team_home = match_list.team_home.str.replace("Atletico - PR", "Atlético - PR")
    match_list.team_away = match_list.team_away.str.replace("Atletico - PR", "Atlético - PR")
    match_list.to_csv(filename, index=False)

In [86]:
team_list = pd.DataFrame(columns = ["team_name_3"])
for year in range(2014,2019):
    filename = "./" + str(year) + "/" + str(year) + "_match-list.csv"
    match_list = pd.read_csv(filename)
    team_list = team_list.append(pd.DataFrame({"team_name_3": match_list.team_home}))
    team_list = team_list.append(pd.DataFrame({"team_name_3": match_list.team_away}))

In [87]:
team_list.drop_duplicates().sort_values("team_name_3").head(100)

           team_name_3
8         América - MG
18       Atlético - GO
5        Atlético - MG
4        Atlético - PR
9            Avaí - SC
6           Bahia - BA
10       Botafogo - RJ
16          Ceará - CE
9     Chapecoense - SC
12    Corinthians - SP
14       Coritiba - PR
8        Criciuma - SC
15       Cruzeiro - MG
18    Figueirense - SC
0        Flamengo - RJ
1      Fluminense - RJ
19          Goiás - GO
17         Grêmio - RS
7   Internacional - RS
16      Joinville - SC
13      Palmeiras - SP
11         Paraná - PR
17    Ponte Preta - SP
5      Santa Cruz - PE
3          Santos - SP
11          Sport - PE
2       São Paulo - SP
7   Vasco da Gama - RJ
16        Vitória - BA

In [7]:
for round_num in range(1,39):
    filename = "./2018/scouts/2018_round"
    if round_num < 10:
        filename = filename + "0" + str(round_num) + "_scouts.csv"
    else:
        filename = filename + str(round_num) + "_scouts.csv"
    scouts = pd.read_csv(filename)
    scouts.team_id = scouts.apply(lambda row: 354 if row.team_id == '204/354' else row.team_id, axis = 1)
    scouts.to_csv(filename, index = False)

In [44]:
old_mode = "Domingo"
d = dt(2018,4,10,14)
days = None
for round_num in range(1,39):
    filename = "./history/2018/rodada-" + str(round_num) + ".csv"
    scouts = pd.read_csv(filename)
    status = scouts[["atletas.rodada_id", "atletas.atleta_id", "atletas.status_id"]]
    status["query_time"] = d.isoformat(sep=" ")
    status.columns = ["round_num", "player_id", "status_id", "query_time"]
    status = status[["round_num", "query_time", "player_id", "status_id"]]
    filename2 = "./2018/status/2018_round"
    if round_num < 10:
        filename2 = filename2 + "0" + str(round_num) + "_status.csv"
    else:
        filename2 = filename2 + str(round_num) + "_status.csv"
    status.to_csv(filename2, index=False)
    
    match_list = pd.read_csv("./2018/2018_match-list.csv").query("round_num == @round_num")
    new_mode = match_list.groupby("week_day").match_num.count().sort_values(ascending=False).reset_index().week_day[0]
    if old_mode in ["Sábado", "Domingo"]:
        if new_mode in ["Sábado", "Domingo"]:
            days = 7
        else:
            days = 3
    else:
        if new_mode in ["Sábado", "Domingo"]:
            days = 4
        else:
            days = 7
    d = d + td(days)
    old_mode = new_mode

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Domingo Domingo
Domingo Domingo
Domingo Domingo
Domingo Domingo
Domingo Domingo
Domingo Domingo
Domingo Domingo
Domingo Quarta
Quarta Domingo
Domingo Quarta
Quarta Domingo
Domingo Quarta
Quarta Quinta
Quinta Domingo
Domingo Quarta
Quarta Domingo
Domingo Domingo
Domingo Domingo
Domingo Domingo
Domingo Quarta
Quarta Sábado
Sábado Domingo
Domingo Quarta
Quarta Domingo
Domingo Domingo
Domingo Domingo
Domingo Domingo
Domingo Sábado
Sábado Domingo
Domingo Domingo
Domingo Sábado
Sábado Domingo
Domingo Domingo
Domingo Quarta
Quarta Domingo
Domingo Quarta
Quarta Domingo
Domingo Domingo

In [5]:
match_dates = pd.read_csv("./match-dates.csv", index_col = 0)

In [11]:
match_dates.date = match_dates.date.apply(lambda x: x[6:] + x[3:5] + x[:2])

In [16]:
first_dates = match_dates.groupby("round_num").min().reset_index()

In [23]:
first_dates.date[1:] = first_dates.date[:-1]

C:\Users\fellipefcm\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [46]:
first_dates.iloc[0,1] = "20180409"

In [48]:
first_dates.date = first_dates.date.apply(lambda x: dt(int(x[0:4]), int(x[4:6]), int(x[6:]) + 1, 14))

In [49]:
first_dates

    round_num                date
0           1 2018-04-10 14:00:00
1           2 2018-04-15 14:00:00
2           3 2018-04-22 14:00:00
3           4 2018-04-29 14:00:00
4           5 2018-05-06 14:00:00
5           6 2018-05-13 14:00:00
6           7 2018-05-20 14:00:00
7           8 2018-05-27 14:00:00
8           9 2018-05-31 14:00:00
9          10 2018-06-03 14:00:00
10         11 2018-06-06 14:00:00
11         12 2018-06-10 14:00:00
12         13 2018-06-13 14:00:00
13         14 2018-07-19 14:00:00
14         15 2018-07-22 14:00:00
15         16 2018-07-26 14:00:00
16         17 2018-07-29 14:00:00
17         18 2018-08-05 14:00:00
18         19 2018-08-12 14:00:00
19         20 2018-08-19 14:00:00
20         21 2018-08-09 14:00:00
21         22 2018-08-26 14:00:00
22         23 2018-09-02 14:00:00
23         24 2018-09-06 14:00:00
24         25 2018-09-09 14:00:00
25         26 2018-09-16 14:00:00
26         27 2018-09-23 14:00:00
27         28 2018-09-30 14:00:00
28         29 2018-10-06 14:00:00
29         30 2018-10-14 14:00:00
30         31 2018-10-21 14:00:00
31         32 2018-10-27 14:00:00
32         33 2018-11-04 14:00:00
33         34 2018-11-11 14:00:00
34         35 2018-11-15 14:00:00
35         36 2018-11-18 14:00:00
36         37 2018-11-22 14:00:00
37         38 2018-11-25 14:00:00

In [73]:
for round_num in range(1,39):
    print(round_num)
    round_status = pd.read_csv("./history/2018/rodada-" + str(round_num) + ".csv", index_col = 0)[["atletas.rodada_id", "atletas.atleta_id", "atletas.status_id"]]
    query_time = first_dates.query("round_num == @round_num").date.iloc[0]
    round_status["query_time"] = query_time
    round_status.columns = ["round_num", "player_id", "status_id", "query_time"]
    round_status = round_status[["round_num", "query_time", "player_id", "status_id"]]
    filename = "./2018/status/2018_round"
    if round_num < 10:
        filename = filename + "0" + str(round_num) + "_status.csv"
    else:
        filename = filename + str(round_num) + "_status.csv"
    round_status.to_csv(filename, index=False)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38

In [36]:
with open("./positions.json") as file:
    pos_id = json.load(file)

In [21]:
for year in range(2014,2019):
    print(year)
    for round_num in range(1,39):
        filename = "./" + str(year) + "/scouts/" + str(year) + "_round"
        if round_num < 10:
            filename = filename + "0" + str(round_num) + "_scouts.csv"
        else:
            filename = filename + str(round_num) + "_scouts.csv"
        try:
            scouts = pd.read_csv(filename)
            col_names = list(scouts.columns)
            col_names[4] = "position"
            scouts.columns = col_names
            scouts.position = scouts.position.apply(lambda x: pos_id[str(x)])
            scouts.to_csv(filename, index=False)
        except:
            print("error", year, round_num)

2014
error 2014 1
error 2014 2
error 2014 3
error 2014 4
error 2014 5
error 2014 6
error 2014 7
error 2014 8
error 2014 9
error 2014 10
error 2014 11
error 2014 12
error 2014 13
error 2014 14
error 2014 15
error 2014 16
error 2014 17
error 2014 18
error 2014 19
error 2014 20
error 2014 21
error 2014 22
error 2014 23
error 2014 24
error 2014 25
error 2014 26
error 2014 27
error 2014 28
error 2014 29
error 2014 30
error 2014 31
error 2014 32
error 2014 33
error 2014 34
error 2014 35
error 2014 36
error 2014 37
error 2014 38
2015
error 2015 1
error 2015 2
error 2015 3
error 2015 4
error 2015 5
error 2015 6
error 2015 7
error 2015 8
error 2015 9
error 2015 10
error 2015 11
error 2015 12
error 2015 13
error 2015 14
error 2015 15
error 2015 16
error 2015 17
error 2015 18
error 2015 19
error 2015 20
error 2015 21
error 2015 22
error 2015 23
error 2015 24
error 2015 25
error 2015 27
error 2015 28
error 2015 29
error 2015 30
error 2015 31
error 2015 32
error 2015 33
error 2015 34
error 2015 35
error 2015 36
error 2015 37
error 2015 38
2016
2017
2018

In [31]:
filename

'./2018/scouts/2018_round38_scouts.csv'

In [34]:
for round_num in range(1,39):
    filename1 = "./history/2018/rodada-" + str(round_num) + ".csv"
    history = pd.read_csv(filename1)
    history = history[["atletas.rodada_id", "atletas.atleta_id", "atletas.variacao_num"]]
    history.columns = ["Rodada", "AtletaID", "price_delta"]
    filename2 = "./2018/scouts/2018_round"
    if round_num < 10:
        filename2 = filename2 + "0" + str(round_num) + "_scouts.csv"
    else:
        filename2 = filename2 + str(round_num) + "_scouts.csv"    
    try:
        scouts = pd.read_csv(filename2)
        scouts = pd.merge(scouts, history, left_on = ["round_num", "player_id"], right_on = ["Rodada", "AtletaID"], how="left")
        scouts = scouts[['round_num', 'player_id', 'player_name', 'player_nickname', 'position', 'team_id', 'G', 'A', 'FT', 'FD', 'FF', 'FS', 'PP', 'I', 'PE', 'SG', 'DP', 'DD', 'RB', 'GC', 'CV', 'CA', 'GS', 'FC', 'total_score', 'current_price', 'price_delta']]
        val = scouts.query("price_delta != price_delta").shape[0]
        if val > 0:
            print(val)
        scouts.to_csv(filename2, index=False)
    except: 
        print("error", year, round_num)

In [35]:
for round_num in range(1,7):
    filename = "./2019/scouts/2019_round"
    if round_num < 10:
        filename = filename + "0" + str(round_num) + "_scouts.csv"
    else:
        filename = filename + str(round_num) + "_scouts.csv"    
    scouts = pd.read_csv(filename, index_col = 0)
    scouts = scouts[["rodada_id", "atleta_id", "nome", "apelido", "posicao_id", "clube_id", "scout", "pontos_num", "preco_num", "variacao_num"]]
    scouts.columns = ["round_num", "player_id", "player_name", "player_nickname", "position", "team_id", "scout", "total_score", "current_price", "price_delta"]
    scouts.to_csv(filename, index=False)

In [37]:
for round_num in range(1,7):
    filename = "./2019/scouts/2019_round"
    if round_num < 10:
        filename = filename + "0" + str(round_num) + "_scouts.csv"
    else:
        filename = filename + str(round_num) + "_scouts.csv"    
    scouts = pd.read_csv(filename)
    scouts.position = scouts.position.apply(lambda x: pos_id[str(x)])
    scouts.to_csv(filename, index=False)

In [85]:
def scout_parser(scout, col_names):
    scout_dict = ast.literal_eval(scout)
    scout_list = []
    for col in col_names:
        try:
            el = scout_dict[col]
        except:
            el = 0
        scout_list.append(el)
    return pd.DataFrame(columns = col_names, data = [scout_list]).iloc[0]

In [86]:
col_names = ["G", "A", "FT", "FD", "FF", "FS", "PP", "I", "PE", "SG", "DP", "DD", "RB", "GC", "CV", "CA", "GS", "FC"]
for round_num in range(1,7):
    filename = "./2019/scouts/2019_round"
    if round_num < 10:
        filename = filename + "0" + str(round_num) + "_scouts.csv"
    else:
        filename = filename + str(round_num) + "_scouts.csv"    
    scouts = pd.read_csv(filename)
    scouts[col_names] = scouts.scout.apply(lambda x: scout_parser(x, col_names))
    scouts = scouts[["round_num", "player_id", "player_name", "player_nickname", "position", "team_id", "G", "A", "FT", "FD", "FF", "FS", "PP", "I", "PE", "SG", "DP", "DD", "RB", "GC", "CV", "CA", "GS", "FC", "total_score", "current_price", "price_delta"]]
    scouts.to_csv(filename, index=False)

In [98]:
filename = "./2019/scouts/2019_round07_scouts.csv"  
scouts = pd.read_csv(filename, index_col = 0)
scouts = scouts[["atletas.rodada_id", "atletas.atleta_id", "atletas.nome", "atletas.apelido", "atletas.posicao_id", "atletas.clube_id","G", "A", "FT", "FD", "FF", "FS", "PP", "I", "PE", "SG", "DP", "DD", "RB", "GC", "CV", "CA", "GS", "FC", "atletas.pontos_num", "atletas.preco_num", "atletas.variacao_num"]]
scouts.columns = ["round_num", "player_id", "player_name", "player_nickname", "position", "team_id", "G", "A", "FT", "FD", "FF", "FS", "PP", "I", "PE", "SG", "DP", "DD", "RB", "GC", "CV", "CA", "GS", "FC", "total_score", "current_price", "price_delta"]
scouts = scouts.fillna(0)
scouts.position = scouts.position.str.upper()
scouts.to_csv(filename, index=False)

In [4]:
name_list = pd.DataFrame(columns=["player_id", "player_name"])
for year in range(2018,2020):
    for round_num in range(1,39):
        filename = "./" + str(year) + "/scouts/" + str(year) + "_round"
        if round_num < 10:
            filename = filename + "0" + str(round_num) + "_scouts.csv"
        else:
            filename = filename + str(round_num) + "_scouts.csv"
        try:
            scouts = pd.read_csv(filename)
            names = scouts[["player_id", "player_name"]]
            name_list = name_list.append(names, ignore_index=True)
            name_list = name_list.drop_duplicates("player_id")
        except:
            print("Error", year, round_num)
name_list

Error 2019 8
Error 2019 9
Error 2019 10
Error 2019 11
Error 2019 12
Error 2019 13
Error 2019 14
Error 2019 15
Error 2019 16
Error 2019 17
Error 2019 18
Error 2019 19
Error 2019 20
Error 2019 21
Error 2019 22
Error 2019 23
Error 2019 24
Error 2019 25
Error 2019 26
Error 2019 27
Error 2019 28
Error 2019 29
Error 2019 30
Error 2019 31
Error 2019 32
Error 2019 33
Error 2019 34
Error 2019 35
Error 2019 36
Error 2019 37
Error 2019 38

     player_id                              player_name
0        83004                     Rómulo Otero Vásquez
1        38909                     Diego Ribas da Cunha
2        61033            Rodrigo Eduardo Costa Marinho
3        37655       Rafael Martiniano de Miranda Moura
4        50401            Gerson Alencar de Lima Junior
5        50361                     Rafael Ramos de Lima
6        50421                    Wesley Lopes Beltrame
7        63194                  Carlos Emiliano Pereira
8        60834                     Luan Michel de Louzã
9        62137                   Enderson Alves Moreira
10       87402        Messias Rodrigues da Silva Júnior
11       82381               Adilson dos Anjos Oliveira
12       85930                     Aylon Darwin Tavella
13       80374            Norberto Pereira Marinho Neto
14       97317     José Ricardo Barbosa Ribeiro Drumond
15       88002  Sergio Antonio Soler de Oliveira Junior
16       91928                  Christian Sávio Machado
17       97453  Joriwinnyson Santos dos Anjos Rodrigues
18       68770              Guilherme de Aguiar Camacho
19       38910                      Ricardo de Oliveira
20       38229                       Fábio Santos Romeu
21       54395                    Elias Mendes Trindade
22       63219              Luan Madson Gedeão De Paiva
23       60969                      Patric Cabral Lalau
24       81682             Juan Ramón Cazares Sevillano
25       87393                     Gabriel Costa França
26       89898                        Róger Krug Guedes
27       91191           Gustavo Blanco Petersen Macedo
28       84926        Yago Henrique Severino dos Santos
29       99817          Gleison Bremer Silva Nascimento
...        ...                                      ...
1076     92085                 Giovanny Bariani Marques
1077     93909            José Brandão Gonçalves Júnior
1078     91772                   David de Duarte Macedo
1079     91242                   Leandro Barcia Montero
1080     95220         Jefferson Junio Antonio da Silva
1081     91888          Kevin Peterson dos Santos Silva
1082     94680              Nilson Evair Loyola Morales
1083    105585                   Roni Medeiros de Moura
1084     97245                Janderson Santos de Souza
1085    103700                   Bruno Méndez Cittadini
1086    105584                   Lucas Piton Crivellaro
1087    102139           Jairo Santos de Oliveira Filho
1088    104459                Rick Jhonatan Lima Morais
1089     62128                 Walter Henrique da Silva
1090     95335                   Matheus Sousa de Jesus
1091     73513             Francinilson Santos Meireles
1092    104257           João Lucas de Almeida Carvalho
1093     41327            Vanderlei Luxemburgo da Silva
1094    105613                Felipe Rodrigues da Silva
1095    105635                     Geovane Silva Santos
1096    105636         Gabriel Henrique Chavoni Fornari
1097    105612               Miguel Silveira dos Santos
1098    105647                 Mauricio Magalhães Prado
1099     90917         Carlos Eduardo Ferreira de Souza
1100    100289           Felipe Augusto Rodrigues Pires
1101     92696                   Renato Kayzer de Souza
1805    104625        Weverton Guilherme da Silva Souza
1812    105786             Talles Magno Bacelar Martins
1858     84071            Luiz Marcelo de Castro Salles
1859     99918                Patrick Machado Ferreira

[1106 rows x 2 columns]

In [10]:
name_list.player_id = name_list.player_id.apply(int)

In [15]:
for year in range(2014,2018):
    for round_num in range(1,39):
        filename = "./" + str(year) + "/scouts/" + str(year) + "_round"
        if round_num < 10:
            filename = filename + "0" + str(round_num) + "_scouts.csv"
        else:
            filename = filename + str(round_num) + "_scouts.csv"
        try:
            scouts = pd.read_csv(filename)
            scouts = pd.merge(scouts,name_list, on="player_id", how="left")
            scouts = scouts[['round_num', 'player_id', 'player_name_y', 'player_nickname', 'position','team_id', 'G', 'A', 'FT', 'FD', 'FF', 'FS', 'PP', 'I', 'PE', 'SG','DP', 'DD', 'RB', 'GC', 'CV', 'CA', 'GS', 'FC', 'total_score','current_price', 'price_delta']]
            scouts.columns = ['round_num', 'player_id', 'player_name', 'player_nickname', 'position','team_id', 'G', 'A', 'FT', 'FD', 'FF', 'FS', 'PP', 'I', 'PE', 'SG','DP', 'DD', 'RB', 'GC', 'CV', 'CA', 'GS', 'FC', 'total_score','current_price', 'price_delta']
            scouts.to_csv(filename, index=False)
        except:
            print("Error", year, round_num)

Error 2015 38

In [2]:
def match_candidates(batch, player_name, threshold):
    candidates = pd.DataFrame(columns=["ratio", "index_num"])
    for i in range(0,batch.shape[0]):
        comp_a = player_name.lower()
        comp_b = batch.iloc[i].player_nickname.lower()
        ratio1 = fuzz.ratio(comp_a,comp_b)
        ratio2 = fuzz.partial_ratio(comp_a,comp_b)
        ratio3 = fuzz.token_set_ratio(comp_a,comp_b)
        ratio4 = 0
        ratio5 = 0
        ratio6 = 0
        try:
            comp_c = batch.iloc[i].player_name.lower()
            ratio4 = fuzz.ratio(comp_a,comp_c)
            ratio5 = fuzz.partial_ratio(comp_a,comp_c)
            ratio6 = fuzz.token_set_ratio(comp_a,comp_c)
        except:
            pass
        max_ratio = max(ratio1,ratio2,ratio3,ratio4,ratio5,ratio6)
        if max_ratio >= threshold:
            candidates = candidates.append(pd.DataFrame(data = [[max_ratio, i]], columns=["ratio", "index_num"]))
    return candidates

In [3]:
def fuzzy_match(player_name, team_id, scouts, threshold):
    batch = scouts.query("team_id == @team_id")[["player_id", "player_name", "player_nickname"]]
    candidates = match_candidates(batch, player_name, threshold)
    num_candidates = candidates.shape[0]
    if num_candidates == 0:
        match_player_id = None
        match_player_name = None
        match_player_nickname = None
        match_ratio = None
    elif num_candidates == 1:
        match = candidates.iloc[0]
        i = match.index_num
        batch_match = batch.iloc[i]
        match_player_id = batch_match.player_id
        match_player_name = batch_match.player_name
        match_player_nickname = batch_match.player_nickname
        match_ratio = match.ratio
    else:
        match = candidates.sort_values(by="ratio", ascending = False)
        match_player_id = []
        match_player_name = []
        match_player_nickname = []
        match_ratio = []
        for j in range(0,match.shape[0]):
            i = match.iloc[j].index_num
            batch_match = batch.iloc[i]
            match_player_id.append(batch_match.player_id)
            match_player_name.append(batch_match.player_name)
            match_player_nickname.append(batch_match.player_nickname)
            match_ratio.append(match.iloc[j].ratio)
    return pd.DataFrame(data = [[match_player_id, match_player_name, match_player_nickname, match_ratio]], columns=["player_id", "match_name", "match_nickname", "match_ratio"]).iloc[0]

In [4]:
def fill_not_found(row, scouts, db_match):
    if row.player_id != None:
        ans_player_id = row.player_id
        ans_player_name = row.match_name
        ans_player_nickname = row.match_nickname
        ans_ratio = row.match_ratio
    else:
        team_id = row.team_id
        used_player_ids = list(db_match.query("team_id == @team_id").player_id)
        candidates = scouts.query("team_id == @team_id and player_id not in @used_player_ids")[["player_id", "player_name", "player_nickname"]]
        ans_player_id = list(candidates.player_id)
        ans_player_name = list(candidates.player_name)
        ans_player_nickname = list(candidates.player_nickname)
        ans_ratio = None
    return pd.DataFrame(data = [[ans_player_id, ans_player_name, ans_player_nickname, ans_ratio]], columns=["player_id", "match_name", "match_nickname", "match_ratio"]).iloc[0]

In [5]:
teams = pd.read_csv("./teams.tsv", sep="\t")
for year in range(2018,2019):
    for round_num in range(1,39):
        filename1 = "./" + str(year) + "/scouts/" + str(year) + "_round"
        filename2 = "./" + str(year) + "/substitutions/" + str(year) + "_round"
        filename3 = "./" + str(year) + "/substitutions/" + str(year) + "_round"
        if round_num < 10:
            filename1 = filename1 + "0" + str(round_num) + "_scouts.csv"
            filename2 = filename2 + "0" + str(round_num) + "_substitutions.csv"
            filename3 = filename3 + "0" + str(round_num) + "_substitution_report.csv"
        else:
            filename1 = filename1 + str(round_num) + "_scouts.csv"
            filename2 = filename2 + str(round_num) + "_substitutions.csv"
            filename3 = filename3 + str(round_num) + "_substitution_report.csv"
        try:
            scouts = pd.read_csv(filename1)
            substitutions = pd.read_csv(filename2)
            db_match = pd.merge(substitutions, teams, on = "team_name_3", how = "left").iloc[:,:5]
            db_match[["player_id", "match_name", "match_nickname", "match_ratio"]] = db_match.apply(lambda row: fuzzy_match(row.player_name_2, row.team_id, scouts, 80), axis = 1)
            substitution_report = db_match.copy()
            substitution_report[["player_id", "match_name", "match_nickname", "match_ratio"]] = db_match.apply(lambda row: fill_not_found(row, scouts, db_match), axis=1)
            substitution_report.to_csv(filename3, index=False)
        except Exception as e:
            print(e, year, round_num)